@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-line-lightBg text-line-dark antialiased;
  }
}

/* Custom scrollbar for chat area */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
